// mixin
@import "./utils/mixins";
// variable
@import "./utils/variables";
* {
  box-sizing: border-box;
}
// body
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
p {
  font-size: 16px;
}
a {
  text-decoration: none;
}

// header
.header-block {
  // box shadow ne veut pas fonctionner ???????????????????
  // box-shadow: 0px 2px 4px  rgba(0, 0, 0, 0.15);
  width: 100%;
  padding: 10px 0 10px 0;
  @include align-center;
  .header-logo {
    width: 50%;
  }
}
// localisation
.loc-block {
  width: 100%;
  height: 50px;
  background-color: $color-gray;
  @include align-center;
  .loc-img {
    margin-right: 17px;
  }
}
// explorer nos restaurants
.explo-block {
  width: 100%;
  padding-bottom: 40px;
  background-color: #f7f7f7;
  @include align-center;
  @include vertical-align;
  .explo-titre-center {
    padding: 0 20% 0 20%;
    margin-bottom: -10px;
    text-align: center;
    .titre {
      @include titre;
    }
  }
  .explo-texte-align {
    text-align: center;
    padding: 0 10% 0 10%;
  }
  .btn {
    @include btn-voilet-bleu-round;
  }
}
//   fontionnement
.fonct-block {
  width: 100%;
  margin: 4%;
  padding-bottom: 10%;
  .fonct-titre-margin {
    margin-bottom: -25px;
  }
  .fonct-case {
    @include case-fonctionnement;
    transition: 1s;

    .fonct-icone {
      color: gray;
      margin: 0 27px 0 15px;
      transition: 1s;
    }
    &:hover {
      transition: 1s;
      background-color: $color-hover-fonct;
      .fonct-icone {
        transition: 1s;
        color: $color-primary;
      }
    }
  }

  .fonct-num {
    position: relative;
    color: white;
    background: $color-primary;
    width: 25px;
    height: 25px;
    border-radius: 24px;
    @include align-center;
    z-index: 1;
    top: 62px;
    left: 2px;
  }
}

// restaurants
.restau-block {
  width: 100%;
  padding-top: 10%;
  background-color: $color-gray;
  padding-bottom: 10%;

  .restau-titre_margin {
    margin-left: 4%;
  }
  .restau-prev {
    border-radius: 15px;
    margin: 11% 0 0 5%;
    background-color: white;
    width: 91%;
    padding-bottom: 2%;
    position: relative;
    &-news {
      @include align-center;
      margin: 0 0 -10% 70%;
      background-color: #99e2dd;
      width: 20%;
      height: 29px;
      z-index: 1;
      position: relative;
      color: #008766;
    }
    .restau-prev-img {
      border-radius: 15px 15px 0 0;
      width: 100%;
      object-fit: cover;
      height: 300px;
    }

    .restau-titre-prev_margin {
      margin-top: 15px;
      margin-left: 4%;
      color: black;

      .restau-coeur {
        margin-left: 88%;
        font-size: 25px;
        &:hover {
          background: -webkit-linear-gradient(left, #9356dc, #ff79da);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font: var(--fa-font-solid);
          font-size: 25px;
        }
      }
    }

    .restau-texte-prev_margin {
      margin: -35px 0 0 4%;
      padding-bottom: 15px;
      font-size: 17px;
      color: black;
    }
  }
}

// footer
.footer-block {
  background-color: #353535;
  width: 100%;
  margin-top: -20px;
  padding-bottom: 5%;
  .footer-titre_style_margin {
    color: white;
    font-family: "Shrikhand", cursive;
    padding-top: 25px;
    margin-left: 22px;
    font-style: 18px;
    font-style: italic;
  }
  .footer-lien_margin {
    @include vertical-align;
    gap: 7px;
    margin-left: 20px;

    .footer-lien_style {
      text-decoration: none;
      color: white;
    }
    .footer-icone_margin {
      margin-right: 11px;
    }
    .footer-icone_rotate {
      rotate: 150deg;
    }
  }
}
// version des ordinateur
