// mixin
@import "./utils/mixins";
// variable
@import "./utils/variables";
// media-queries-desktop
@import "./utils/media-queries-desktop";
* {
  box-sizing: border-box;
  object-fit: cover;
}
// body
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
p {
  font-size: 16px;
}
a {
  text-decoration: none;
}

// header
.header-block {
  // box shadow ne veut pas fonctionner ???????????????????
  // box-shadow: 0px 2px 4px  rgba(0, 0, 0, 0.15);
  width: 100%;
  padding: 10px 0 10px 0;
  @include align-center;
  .header-logo {
    width: 50%;
  }
}
// localisation
.loc-block {
  width: 100%;
  height: 50px;
  background-color: $color-gray;
  @include align-center;
  .loc-img {
    margin-right: 17px;
  }
}
// explorer nos restaurants
.explo-block {
  width: 100%;
  padding-bottom: 40px;
  background-color: #f7f7f7;
  @include align-center;
  @include vertical-align;
  .explo-titre-center {
    padding: 0 20% 0 20%;
    margin-bottom: -10px;
    text-align: center;
    .titre {
      @include titre;
    }
  }
  .explo-texte-align {
    text-align: center;
    padding: 0 10% 0 10%;
  }
  .btn {
    @include btn-voilet-bleu-round;
  }
}
//   fontionnement
.fonct-titre-margin {
  margin-top: 43px;
  margin-bottom: -25px;
  margin-left: 20px;
  font-size: 24px;
}
.fonct-block {
  width: 100%;
  margin: 4%;
  padding-bottom: 150px;

  .fonct-case {
    @include case-fonctionnement;
    transition: 1s;

    .fonct-icone {
      color: gray;
      margin: 0 27px 0 15px;
      transition: 1s;
    }
    &:hover {
      transition: 1s;
      background-color: $color-hover-fonct;
      .fonct-icone {
        transition: 1s;
        color: $color-primary;
      }
    }
  }

  .fonct-num {
    position: relative;
    color: white;
    background: $color-primary;
    width: 25px;
    height: 25px;
    border-radius: 24px;
    @include align-center;
    z-index: 1;
    top: 62px;
    left: 2px;
  }
}

// restaurants
.restau-titre_margin {
  margin-left: 6%;
  margin-bottom: -13%;
  font-size: 24px;
  
}
.restau-block {
  width: 100%;
  padding-top: 50px;
  background-color: $color-gray;
  padding-bottom: 100px;

  .restau-prev {
    border-radius: 15px;
    margin: 11% 0 0 5%;
    background-color: white;
    width: 91%;
    padding-bottom: 2%;
    position: relative;
    &-news {
      @include align-center;
      background-color: #99e2dd;
      width: 20%;
      height: 29px;
      z-index: 1;
      position: relative;
      color: #008766;
      margin-top: -50px;
      
    }
    &-news_margin{
      display: flex;
      justify-content: flex-end;
      position: relative;
      bottom: -100px;
      left: -50px;
    }
    .restau-prev-img {
      border-radius: 15px 15px 0 0;
      width: 100%;
      height: 300px;
    }
    

    .restau-titre-prev_margin {
      margin-top: 15px;
      margin-left: 4%;
      color: black;

      .restau-coeur {
        margin-left: 88%;
        font-size: 25px;
        &:hover {
          background: -webkit-linear-gradient(
            200deg,
            #9356dc -5.2%,
            #ff79da 110%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font: var(--fa-font-solid);
          font-size: 25px;
        }
      }
    }

    .restau-texte-prev_margin {
      margin: -35px 0 0 4%;
      padding-bottom: 15px;
      font-size: 17px;
      color: black;
    }
  }
}

// footer
.footer-block {
  background-color: #353535;
  width: 100%;
  margin-top: -20px;
  padding-bottom: 5%;
  .footer-titre_style_margin {
    color: white;
    font-family: "Shrikhand", cursive;
    padding-top: 25px;
    margin-left: 22px;
    font-style: 18px;
    font-style: italic;
  }
  .footer-lien_margin {
    @include vertical-align;
    gap: 7px;
    margin-left: 20px;

    .footer-lien_style {
      text-decoration: none;
      color: white;
    }
    .footer-icone_margin {
      margin-right: 11px;
    }
    .footer-icone_rotate {
      rotate: 150deg;
    }
  }
}




// mediaqueries pc



@media (min-width: 1439px) {
  // header et logo de page d'accueil
  .header-block {
    padding: 20px 0 20px 0;
    .header-logo {
      width: 200px;
    }
  }

  // explorer nos restaurants
  .explo-block {
    .explo-titre-center {
      font-size: 40px;
    }
    .explo-texte-align {
      padding: 18px 0px 18px 0px;
    }
    .btn {
      width: 218px;
      height: 50px;
    }
  }

  //   fontionnement
  .fonct-titre-margin {
    margin-left: 200px;
  }
  .fonct-block {
    width: 100%;
    margin: 54px 0 0 0;
    padding-left: 160px;
    padding-right: 160px;
    padding-bottom: 10%;
    @include horizontal-align;

    .fonct-case {
      .fonct-icone {
        margin: 0 40px 0 -20px;
      }
    }

    .fonct-num {
      width: 70px;
      height: 25px;
      border-radius: 24px;
      top: 5px;
      left: 26px;
    }
  }
  // RESTAURANTS

  .restau-titre_margin {
    margin-left: 13%;
    margin-bottom: -100px;
  }
  .restau-block {
    @include horizontal-align;
    width: auto;
    padding-top: 9%;
    padding-bottom: 7%;
    padding-left: 12.6%;
    padding-right: 20px;
    gap: 30px;
    overflow-x: auto;
    
    &-block::-webkit-scrollbar{
      width: 0;
      // faire disparaitre la scroll bar de section restau fontionne pas 
      // display: none;
      // -ms-overflow-style: none;
      //  scrollbar-width: none;
    }

    .restau-prev {
      min-width: 400px;
      margin: 0 0 0 0;
      padding-bottom: 2%;

      &-news {
        width: 100px;
        height: 29px;
      }
      &-news_margin{
        bottom: -70px;
        left: -20px;
      }
    }
    
  }

  // footer
  .footer-block {
    height: 100px;
    margin-top: 0px;
    padding-bottom: 0%;
    padding-right: 100px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    .footer-titre_style_margin {
      padding-top: 0px;
      margin-left: 70px;
    }
    .footer-lien_margin {
      gap: 40px;
      margin-left: 0px;
      @include horizontal-align;
    }
  }
}










