* {
    box-sizing: border-box;
    object-fit: cover;
  }
  // body
  body {
    margin: 0;
    font-family: "Roboto", sans-serif;
  }
  p {
    font-size: 16px;
  }
  a {
    text-decoration: none;
  }