// header / logo
.header-logo_margin {
  margin-right: 50px;
}
.header-fleche_margin {
  margin-right: 64px;
}
//  header img restaurant
.restau-prev-img {
  height: 300px;
  width: 100%;
}
// menu
.menu_padding {
  position: relative;
  z-index: 1;
  padding-top: 1px;
  margin-top: -40px;
  border-radius: 25px 25px 0 0;
  background-color: $color-background-menu;
  // titre nom du restaurant
  .menu-titre_size {
    font-family: "Shrikhand", cursive;
    font-size: 28px;
    font-style: italic;
    margin-left: 17px;

    .menu-coeur {
      margin-left: 40px;
      @include hover-coeur;
    }
  }
  // sous-titre et menu entrées
  .menu-sous-titre_padding {
    padding: 0 130px 0 15px;
    width: 200px;

    .menu-sous-titre_size {
      font-size: 16px;
      font-weight: 300;
      border-bottom: $color-green solid 3px;
      padding-bottom: 5px;
     
    }
  }
  // menu prev
  .menu-prev {
    width: 93%;
    margin-left: 13px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    
    .menu-prev-plat {
      padding-top: 12px;
      margin-left: 10px;
      font-size: 18px;
      font-weight: 500;
    }
    .menu-prev-détail-plat {
      font-size: 15px;
      margin-top: -12px;
      margin-left: 10px;
      padding-bottom: 12px;
    }
    .menu-prev-prix {
      font-weight: 700;
      font-size: 15px;
      margin-left: 80%;
      margin-top: -45px;
      
    }
    .menu-prev-valide {
      color: white;
      font-size: 21px;
      width: 20%;
      background-color: $color-green;
      margin-top: -70px;
      margin-left: 80%;
      padding: 25px 20px 25px 20px;
      @include align-center;
      border-radius: 0 18px 18px 0;
      z-index: 1;
      position: relative;
      opacity: 0;
      
    }
    &:hover .menu-prev-prix{
      margin-left: 70%;
      transition: 1s ease-in-out;
    }
    &:hover .menu-prev-valide {
      opacity: 1;
      transition: 1s ease-in-out ;
    }
  }

  // bouton commander
  .menu-btn {
    @include btn-voilet-bleu-round;
    margin-left: 22%;
    margin-top: 53px;
    margin-bottom: 53px;
  }
}


// mediaqueries desktop

@media (min-width: 1439px){
  // header / logo
.header-logo_margin {
  margin-right: 35%;
}
.header-fleche_margin {
  padding-right: 450px;
}
// menu
.menu_padding {
  margin-left:193px ;
  margin-right:193px ;
  // titre nom du restaurant
  .menu-titre_size {
    padding-top: 20px;
    padding-bottom: 20px;
    @include align-center;
  }
  // sous-titre et menu entrées
  .menu-sous-titre_padding {
    padding: 0 130px 0 15px;
    width: 200px;
    margin-left: 200px;
  }
  // menu prev
  .menu-prev {
    width: 60%;
    margin-left: 210px;
    margin-right: 210px;
    .menu-prev-prix {
      font-weight: 700;
      font-size: 15px;
      margin-left: 90%;
      margin-top: -45px;
    }
    .menu-prev-valide {
      width: 10%;
      margin-left: 90%;
      padding: 25px 20px 25px 20px;
    }
    &:hover .menu-prev-prix{
      margin-left: 80%;
    }
  }
  // bouton commander
  .menu-btn {
    width: 20%;
    margin-left: 400px;
  }
}}

// mediaqueries tablette 



