@import"./animation.scss";

// header / logo
.header-block-restau{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0 10px 0;
  
}
.header-logo_margin {
  width: 165px;
  margin-right: 35%;
  margin-left: 25%;
  
}
.header-fleche_margin {
    margin-left: 20px;
}
//  header img restaurant
.restau-prev-img {
  height: 300px;
  width: 100%;
}
// menu
.menu_padding {
  position: relative;
  z-index: 1;
  padding-top: 1px;
  margin-top: -40px;
  border-radius: 25px 25px 0 0;
  background-color: $color-background-menu;
  
  // titre nom du restaurant
  .menu-titre_size {
    font-family: "Shrikhand", cursive;
    font-size: 28px;
    font-style: italic;
    margin-left: 17px;

    .menu-coeur {
      margin-left: 40px;
      @include hover-coeur;
    }
  }
  // sous-titre et menu entrées
  .menu-sous-titre_padding {
    padding: 0 130px 0 15px;
    width: 200px;
    margin-top: 42px;
    margin-bottom: 12px;

    .menu-sous-titre_size {
      font-size: 16px;
      font-weight: 300;
      border-bottom: $color-green solid 3px;
      padding-bottom: 5px;
     
    }
  }
  // menu prev
  

  .menu-prev {
    width: 93%;
    margin-left: 13px;
    margin-bottom: 12px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    @include horizontal-align;
    justify-content: space-between;
    padding: 0 0 0 10px;

    
    .menu-prev_width{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 80%;
    }
    .menu-prev-plat {
      padding: 0;
      font-size: 18px;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      
    }
    .menu-prev-détail-plat {
      padding: 0;
      margin-top: -15px;
      font-size: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
  
    }
    .menu-prix-margin{
      margin-bottom: -15px;
      font-weight: 700;
    }
    .menu-prix-valide_margin{
    @include horizontal-align;
    align-items: center;
    gap: 17px;
    overflow:hidden;
    }
    
    .menu-prev-valide{
      width: 0;
      height: 100%;
      color: white;
      border-radius: 0 15px 15px 0;
    font-size: 21px;
    display: grid;
    place-items: center;
    
    }
    &:hover {
    .menu-prev-valide {
      width: 70px;
      height: 100%;
      background-color: $color-green;
      transition: 1s;
    }
  i{
    animation: valide_spin 1s ease;
  }}
  }
  // appear
  .appear1{
    animation: appear 1.5s;
    animation-delay: 0.2s;
  }
  .appear2{
    animation: appear 1.5s;
    animation-delay: 0.4s;
  }
  .appear3{
    animation: appear 1.5s;
    animation-delay: 0.6s;
  }
  .appear4{
    animation: appear 1.5s;
    animation-delay: 0.8s;
  }
  .appear5{
    animation: appear 1.5s;
    animation-delay: 1s;
  }
  .appear6{
    animation: appear 1.5s;
    animation-delay: 1.2s;
  }
  .appear7{
    animation: appear 1.5s;
    animation-delay: 1.4s;
  }
  .appear8{
    animation: appear 1.5s;
    animation-delay: 1.6s;
  }
  .appear9{
    animation: appear 1.5s;
    animation-delay: 1.8s;
  }

  // bouton commander
  .menu-btn-padding{
@include align-center;
    
  .menu-btn {
    @include btn-voilet-bleu-round;
    margin-top: 53px;
    margin-bottom: 53px;
    
  }}
}


// mediaqueries desktop

@media (min-width: 1439px){
  // header / logo
.header-logo_margin {
  width: 200px;
  margin-right: 45%;
  margin-left: 25%;
}
.header-fleche_margin {
  margin-left: 50px;
}
// menu
.menu_padding {
  margin-left:193px ;
  margin-right:193px ;
 
  // titre nom du restaurant
  .menu-titre_size {
    padding-top: 20px;
    padding-bottom: 20px;
    @include align-center;
  }
  // sous-titre et menu entrées
  .menu-sous-titre_padding {
    padding: 0 130px 0 15px;
    width: 200px;
    margin-left: 20%;
  }
  // menu prev
  .menu-prev {
    width: 60%;
    margin-left: 20%
    
  }
  // bouton commander
  .menu-btn-padding{
    @include align-center;
  }
  .menu-btn-padding{
    @include align-center;
        
      .menu-btn {
        @include btn-voilet-bleu-round;
        margin-top: 53px;
        margin-bottom: 53px;
        
      }}
}}

// mediaqueries tablette 


@media (min-width: 768px) and (max-width:1439px){
 // header / logo
 .header-logo_margin {
  width: 200px;
  margin-right: 40%;
  margin-left: 25%;
}
.header-fleche_margin {
  margin-left: 50px;
}

// menu
.menu_padding {
  margin-left:90px ;
  margin-right:90px ;
  // titre nom du restaurant
  .menu-titre_size {
    padding-top: 20px;
    padding-bottom: 20px;
    @include align-center;
  }
  // sous-titre et menu entrées
  .menu-sous-titre_padding {
    padding: 0 130px 0 15px;
    width: 200px;
    margin-left: 20%;
  }
  // menu prev
  .menu-prev {
    width: 60%;
    margin-left: 20%
    
  }
  
  // bouton commander
  .menu-btn-padding{
    @include align-center;
  }
  .menu-btn-padding{
    @include align-center;
        
      .menu-btn {
        @include btn-voilet-bleu-round;
        margin-top: 53px;
        margin-bottom: 53px;
        
      }}
}

}


